@font-face {
  font-family: 'Futura Book';
  src:
  url('../fonts/futura/FuturaBookC.woff') format('woff'),
  url('../fonts/futura/FuturaBookC.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Futura Demi';
  src:
  url('../fonts/futura/FuturaDemiC.woff') format('woff'),
  url('../fonts/futura/FuturaDemiC.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Yeseva One Regular';
  src:
  url('../fonts/yeseva/YesevaOne-Regular.woff') format('woff'),
  url('../fonts/yeseva/YesevaOne-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}