.button
  padding: 0.8rem 1.64rem
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 0.94rem
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $white
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transiton: box-shadow .3s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $white
    background: transparent
    color: $white
.label
  font-size: 1.07rem
  color: rgba($white, 0.5)
.input
  font-weight: 500
  font-size: 1.28rem
  background: transparent
  border: none
  border-bottom: 1px solid rgba($white, 0.5)
  color: $white
  padding: 10px 0px
  &::placeholder
    color: $white
    font-size: 1.28rem
