*,
*:before,
*:after
  box-sizing: border-box
html
  font-size: 14px
  
body
  font-size: 1rem
  font-family: 'Futura Book', sans-serif
img
  max-width: 100% 
.section
  padding: 60px 0px
  &-title
    text-align: center
    &-text
      max-width: 31.57rem
      font-size: 1.28rem
      line-height: 2.07rem
    &--left
      text-align: left
    &__heading
      font-family: 'Yeseva One Regular', cursive
      text-transform: uppercase
      font-size: 1.4rem
      line-height: 138.6%
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ""
        width: 6.57rem
        height: 2px
        background-color: $primary
        margin-left: 2rem
    &__description
      font-size: 1.42rem
      line-height: 1.92rem
      max-width: 52.92rem
      margin: auto
      margin-top: 1.64rem
      margin-bottom: 2.78rem
    &__image
      display: flex
      align-items: center
      justify-content: center
      &::before, &::after
        content: ""
        width: 32px
        height: 2px
        margin: 0rem 0.714rem
        background-color: $primary
  &--dark
    background: $dark
    color: $white