*,
*:before,
*:after
  box-sizing: border-box
html
  font-size: 14px
  
body
  font-size: 1rem
  font-family: 'Futura Book', sans-serif
img
  max-width: 100% 
.section
  padding: 60px 0px
  &-title
    text-align: center
    &__heading
      font-family: 'Yeseva One Regular', cursive
      text-transform: uppercase
      font-size: 1.4rem
    &__description
      font-size: 1.42rem
      line-height: 1.92rem
      max-width: 52.92rem
      margin: auto
      margin-top: 1.64rem
      margin-bottom: 2.78rem
    &__image
      display: flex
      align-items: center
      justify-content: center
      &::before, &::after
        content: ""
        width: 32px
        height: 2px
        margin: 0rem 0.714rem
        background-color: $primary