.header
  background-color: $dark
  padding: 24px 0px
.menu
  display: flex
  justify-content: space-between
  align-items: center
.logo
  text-transform: uppercase
  color: $primary
.nav
  &__item
    color: $white
    text-decoration: none
    text-transform: uppercase
    margin-right: 40px
.phone
  color: $primary
.contacts
  &__phone
    margin-right: 45px